.address {
    height: 140rpx;
    .button {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
    }
    .showAddress {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100%;
        padding: 20rpx;
        &-top{
            display: flex;
            justify-content: space-between;
        }
        &-bottom {

        }
    }
}